<%= render 'shared/page_title', title: @recipe.name %>

<div class="well col-md-8 col-md-offset-2">
  <h4 class="center description"><strong>Steps: </strong></h4>
  <hr />
  <%= simple_format(@recipe.description) %>
  <hr />
  <% if @recipe.ingredients.any? %>
    <p>Ingredients: <%= render @recipe.ingredients %></p>
  <% end %>
  <div class="pull-right">
    <p class="center">
      <em>Created by:</em>
    </p>
    <p class="center"><%= link_to gravatar_for(@recipe.chef), chef_path(@recipe.chef) %></p>
    <p class="center"><small><%= @recipe.chef.chefname %></small></p>
    <div class="pull-right">
      <%= time_ago_in_words(@recipe.created_at) %> ago
    </div>
  </div>
  <div class="recipe-actions">
    <% if logged_in? && (current_chef == @recipe.chef || current_chef.admin?) %>
      <%= link_to "Edit", edit_recipe_path(@recipe), class: "btn btn-xs btn-warning" %>
      <%= link_to 'Delete', recipe_path(@recipe), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-xs btn-danger" %>
    <% end %>
    <%= link_to "Back to index", recipes_path, class: "btn btn-xs btn-info" %>
  </div>
  <div class="pull-left">
    <p class="center">
      Average rating:
    </p>
    <div id="star"></div>
    <% if logged_in? %>
      <p class="center">
        Your rating:
      </p>
      <div id="user_star"></div>
    <% end %>
  </div>
</div>

<% if logged_in? %>
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h3>Comments:</h3>
      <hr />
      <%= form_for([@recipe, @comment], remote: true, :html => {class: 'form-horizontal', role: 'form'}) do |f| %>
        <div class="form-group">
          <div class="control-label col-md-2">
            <%= f.label :description %>
          </div>
          <div class="col-md-8">
            <%= f.text_area :description, rows: 8, class: 'form-control', placeholder: 'Comment this recipe' %>
          </div>
        </div>
        <div class="form-group">
          <div class="col-md-offset-2 col-md-10">
             <%= f.submit "Submit Comment", class: 'btn btn-primary btn-lg btn-xlarge' %>
          </div>
        </div>
      <% end %>
      <hr />
    </div>
  </div>
<% end %>

<% if @recipe.comments.any? %>
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
    <h3>Comments:</h3>
    <div id="messages">
      <%= render partial: 'comments/comments', object: @comments %>
    </div>
    </div>
  </div>
<% else %>
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h3>No comments yet</h3>
    </div>
  </div>
<% end %>
<script>
  $('#star').raty({
    readOnly: true,
    score: <%= @recipe.average_rating %>,
    path: '/assets/ratyrate'
  });
  <% if logged_in? %>
    $('#user_star').raty({
      score: <%= @rating.rate %>,
      path: '/assets/ratyrate',
      click: function(score, evt) {
        $.ajax({
          url: '/ratings/' + <%= @rating.id %>,
          type: 'PATCH',
          data: { score: score }
        });
      }
    });
  <% end %>
</script>